body {
    text-align: center;
    background: black;
    font-family: Oswald, sans-serif;
    font-weight: 100;
    color: white;
    font-size: 1.2rem;
    line-height: 1.3rem;
    background-image: url("../images/Plain-Dark-Grey-Background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

td {
    border: 1px solid whitesmoke;
}

table {
    border-collapse: collapse;
}
img {
    max-width: 35%;
    height: auto;
}

footer {
    max-width: 35%;
    height: auto;

}

a:hover {
    text-decoration: underline
}

li {
    list-style-position: inside;
    max-width: 375px;
}

h1 {
    color: #5a43ba;
    border-color: burlywood;
}

#Formation {
    text-decoration: underline;
    color: crimson;

}

#Compétence {
    text-decoration: underline;
    color: crimson;
}

#Experience {
    text-decoration: underline;
    color: crimson;
}